body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100vh;
}

#code-area {
  display: flex;
  flex-direction: column;
  width: 50%; /* この値はSplit.jsで上書きされる */
}

.pane {
    flex: 1;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.pane:last-child {
    border-bottom: none;
}

h2 {
  display: none;
}

.CodeMirror {
    border: 1px solid #ccc;
    height: auto;
    font-family: monospace;
    padding-top: 25px;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: col-resize;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');

}

#preview-window {
    width: 50%; /* この値はSplit.jsで上書きされる */
    border: none;
}

.icon-container {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #888;
}

/* エクスポートボタンのコンテナ */
#export-container {
    position: absolute;
    bottom: 20px;
    left: calc(50% + 20px); /*左から50%(右半分) + 20px*/
    z-index: 10;
    transform: translateX(-100%); /* Split.jsの初期比率によって位置調整 */

}

/* エクスポートボタン */
#export-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

#export-button:hover {
    background-color: #367c39;
}